<div id="index-{{id}}" class="assigned-index">
    <span>{{text}}</span>
    <button type="button" class="btn btn-sm assigned-index-delete-btn">
        <i class="fas fa-solid fa-backspace text-danger"></i>
    </button>
    <input type="hidden" name="{{name}}" value="{{value}}">
</div>
