<div class="footer-per-page pdf-cloned" id="footer-per-page-{{currentPageNum}}">
    <ul class="m-0">
        <li class="numb active">
            {{currentPageNum}}
        </li>
        <li class="numb">
            {{totalPageNum}}
        </li>
    </ul>
</div>