.home-chart {
  width: 100%;
  height: 320px;
}
.chart-legend {
  width: 100%;
  height: 160px;
}

.result-chart {
  width: 100%;
  height: 350px;
}

.chart-legend-sm {
  width: 100%;
  height: 70px;
}