:root {
  --bs-default: #dae0ec;
  --bs-primary: #1f6bff;
  --bs-secondary: #c9d2e3;
  --bs-success: #028824;
  --bs-info: #30beff;
  --bs-warning: #ff9500;
  --bs-danger: #e6180d;
  --bs-light: #ebeef4;
  --bs-dark: #212837;
  --bs-blue: #1f6bff;
  --bs-indigo: #640df3;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #e6180d;
  --bs-orange: #ff9500;
  --bs-yellow: #ffcc00;
  --bs-green: #028824;
  --bs-teal: #20c997;
  --bs-lime: #90ca4b;
  --bs-cyan: #30beff;
  --bs-white: #ffffff;
  --bs-muted: #869ac0;
  --bs-black: #000000;
  --bs-gray-100: #ebeef4;
  --bs-gray-200: #dae0ec;
  --bs-gray-300: #c9d2e3;
  --bs-gray-400: #a8b6d1;
  --bs-gray-500: #869ac0;
  --bs-gray-600: #657eae;
  --bs-gray-700: #4d6593;
  --bs-gray-800: #3c4e71;
  --bs-gray-900: #212837;
  --bs-default-rgb: 218, 224, 236;
  --bs-primary-rgb: 31, 107, 255;
  --bs-secondary-rgb: 201, 210, 227;
  --bs-success-rgb: 2, 136, 36;
  --bs-info-rgb: 48, 190, 255;
  --bs-warning-rgb: 255, 149, 0;
  --bs-danger-rgb: 230, 24, 13;
  --bs-light-rgb: 235, 238, 244;
  --bs-dark-rgb: 33, 40, 55;
  --bs-blue-rgb: 31, 107, 255;
  --bs-indigo-rgb: 100, 13, 243;
  --bs-purple-rgb: 111, 66, 193;
  --bs-pink-rgb: 214, 51, 132;
  --bs-red-rgb: 230, 24, 13;
  --bs-orange-rgb: 255, 149, 0;
  --bs-yellow-rgb: 255, 204, 0;
  --bs-green-rgb: 2, 136, 36;
  --bs-teal-rgb: 32, 201, 151;
  --bs-lime-rgb: 144, 202, 75;
  --bs-cyan-rgb: 48, 190, 255;
  --bs-white-rgb: 255, 255, 255;
  --bs-muted-rgb: 134, 154, 192;
  --bs-black-rgb: 0, 0, 0;
  --bs-gray-100-rgb: 235, 238, 244;
  --bs-gray-200-rgb: 218, 224, 236;
  --bs-gray-300-rgb: 201, 210, 227;
  --bs-gray-400-rgb: 168, 182, 209;
  --bs-gray-500-rgb: 134, 154, 192;
  --bs-gray-600-rgb: 101, 126, 174;
  --bs-gray-700-rgb: 77, 101, 147;
  --bs-gray-800-rgb: 60, 78, 113;
  --bs-gray-900-rgb: 33, 40, 55;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 40, 55;
  --bs-body-bg-rgb: 235, 238, 244;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212837;
  --bs-body-bg: #ebeef4;
}

:root {
  --app-theme: #1f6bff;
  --app-theme-rgb: 31, 107, 255;
  --app-theme-color: #ffffff;
  --app-theme-color-rgb: 255, 255, 255;
  --app-border-color: #d1d9e7;
  --app-border-color-rgb: 209, 217, 231;
  --app-header-bg: #ffffff;
  --app-header-bg-rgb: 255, 255, 255;
  --app-header-color: #212837;
  --app-header-color-rgb: 33, 40, 55;
  --app-header-input-bg: #ebeef4;
  --app-header-input-border: #ebeef4;
  --app-header-box-shadow: 0 6px 6px rgba(var(--app-theme-rgb), 0.1);
  --app-sidebar-border-color: #dae0ec;
  --app-sidebar-menu-header-color: #657eae;
  --app-sidebar-menu-link-icon-label-bg: linear-gradient(to bottom, #ff9500, #d63384);
  --app-sidebar-menu-link-icon-label-color: #ffffff;
  --app-sidebar-menu-link-color: #3c4e71;
  --app-sidebar-menu-link-hover-bg: rgba(201, 210, 227, 0.5);
  --app-sidebar-menu-link-active-bg: transparent;
  --app-sidebar-menu-link-active-color: var(--app-component-active-bg);
  --app-sidebar-content-mobile-bg: #ffffff;
  --app-sidebar-mobile-backdrop-bg: rgba(33, 40, 55, 0.5);
  --app-float-submenu-bg: #ffffff;
  --app-float-submenu-link-color: #212837;
  --app-float-submenu-link-active-color: var(--app-component-active-bg);
  --app-float-submenu-link-active-bg: transparent;
  --app-component-bg: #ffffff;
  --app-component-bg-rgb: 255, 255, 255;
  --app-component-dropdown-bg: #ffffff;
  --app-component-dropdown-bg-rgb: 255, 255, 255;
  --app-component-dropdown-hover-bg: #ebeef4;
  --app-component-dropdown-hover-bg-rgb: 235, 238, 244;
  --app-component-dropdown-border-color: #dae0ec;
  --app-component-dropdown-border-color-rgb: 218, 224, 236;
  --app-component-modal-bg: #ffffff;
  --app-component-modal-bg-rgb: 255, 255, 255;
  --app-component-modal-border-color: #dae0ec;
  --app-component-modal-border-color-rgb: 218, 224, 236;
  --app-component-secondary-bg: #c9d2e3;
  --app-component-color: #212837;
  --app-component-color-rgb: 33, 40, 55;
  --app-component-muted-color: #a8b6d1;
  --app-component-muted-color-rgb: 168, 182, 209;
  --app-component-border-color: #d1d9e7;
  --app-component-border-color-rgb: 209, 217, 231;
  --app-component-active-bg: #1f6bff;
  --app-component-active-bg-rgb: 31, 107, 255;
  --app-component-active-color: #ffffff;
  --app-component-active-color-rgb: 255, 255, 255;
  --app-component-hover-bg: #ebeef4;
  --app-component-hover-color: #212837;
  --app-component-hover-border-color: #c9d2e3;
  --app-component-focus-border-color: #5790ff;
  --app-component-disabled-bg: #ebeef4;
  --app-component-disabled-color: #a8b6d1;
  --app-component-disabled-border-color: #c9d2e3;
  --app-component-table-border-color: #d1d9e7;
  --app-component-table-separator-color: currentColor;
  --app-content-box-shadow: 0 0 6px 6px rgba(var(--app-theme-rgb), 0.1);
}
.dark-mode {
  --bs-body-bg: #212837;
  --bs-body-color: #ebeef4;
  --bs-light: #3c4e71;
  --bs-light-rgb: 60, 78, 113;
  --app-header-bg: #273349;
  --app-header-bg-rgb: 39, 51, 73;
  --app-header-color: #c9d2e3;
  --app-header-color-rgb: 201, 210, 227;
  --app-header-input-bg: #364767;
  --app-header-input-border: #364767;
  --app-header-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.35);
  --app-sidebar-border-color: #2a374f;
  --app-sidebar-menu-header-color: #4d6593;
  --app-sidebar-menu-link-icon-label-bg: linear-gradient(to bottom, #ff9500, #d63384);
  --app-sidebar-menu-link-icon-label-color: #ffffff;
  --app-sidebar-menu-link-color: #869ac0;
  --app-sidebar-menu-link-hover-bg: rgba(60, 78, 113, 0.5);
  --app-sidebar-menu-link-active-bg: transparent;
  --app-sidebar-menu-link-active-color: var(--app-component-active-bg);
  --app-sidebar-content-mobile-bg: #171c27;
  --app-sidebar-mobile-backdrop-bg: rgba(33, 40, 55, 0.5);
  --app-float-submenu-bg: #3c4e71;
  --app-float-submenu-link-color: #869ac0;
  --app-float-submenu-link-active-color: var(--app-component-active-bg);
  --app-float-submenu-link-active-bg: transparent;
  --app-component-bg: #2a374f;
  --app-component-bg-rgb: 42, 55, 79;
  --app-component-color: #dae0ec;
  --app-component-color-rgb: 218, 224, 236;
  --app-component-border-color: #3c4e71;
  --app-component-border-color-rgb: 60, 78, 113;
  --app-component-hover-bg: #3c4e71;
  --app-component-hover-color: #ffffff;
  --app-component-hover-border-color: rgba(201, 210, 227, 0.125);
  --app-component-disabled-bg: #3c4e71;
  --app-component-disabled-border-color: #3c4e71;
  --app-component-disabled-color: #657eae;
  --app-component-dropdown-bg: #3c4e71;
  --app-component-dropdown-bg-rgb: 60, 78, 113;
  --app-component-dropdown-hover-bg: #4d6593;
  --app-component-dropdown-hover-bg-rgb: 77, 101, 147;
  --app-component-dropdown-border-color: #4d6593;
  --app-component-dropdown-border-color-rgb: 77, 101, 147;
  --app-component-modal-bg: #3c4e71;
  --app-component-modal-bg-rgb: 60, 78, 113;
  --app-component-modal-border-color: #4d6593;
  --app-component-modal-border-color-rgb: 77, 101, 147;
  --app-component-secondary-bg: #3c4e71;
  --app-component-table-border-color: #3c4e71;
  --app-component-table-separator-color: #657eae;
}